{% extends 'base.html' %}

{% if request.user.is_authenticated %}
    <div>
    <p><a href="{% url 'templates:register' %}" class="btn btn-info">profile</a></p>
        <a href="#">{{ request.user.first_name }}</a>
        <a href="{% url 'templates:logout' %}">logout</a>
    </div>
{% else %}
    <!-- ___________________ login & register button ___________________ -->
    <!-- login button -->
    <a href="{% url 'templates:login' %}" class="btn btn-info">Login</a>
    <!-- register button -->
    <a href="{% url 'templates:register' %}">Register</a>
{% endif %}

