{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}


{% block content %}
    <div class="heading-text">
        <h1>جزئیات محصول</h1>
    </div>


    <div class="product-detail">
        <h2>{{ product.name }}</h2>
        <p>دسته بندی: {{ product.category }}</p>
        <p>موجودی: {{ product.inventory }}</p>
        <ul>
            {% for feature in product.features.all %}
                <li>{{ feature.name }}: {{ feature.value }}</li>
            {% endfor %}
        </ul>

        <div class="price">
            <span class="original-price">قیمت: {{ product.price }}</span>
            <br>
            {% if product.offers %}
                <span class="discounted-price">قیمت پس از تخفیف: {{ product.new_price }}</span>
            {% endif %}
        </div>
    </div>

    <button id="add-cart" type="button">افزودن به سبد خرید</button>

    <div class="product-images">
        {% for image in product.images.all %}
            <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
        {% endfor %}
    </div>

    <div class="product-description">
        <h3>description</h3>
        <p>{{ product.description }}</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function (){
            $('#add-cart').click(function (){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart:add_to_cart' product.id %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (response){
                        $('.item-count').text(response.item_count);
                        $('.total-price').text(response.total_price);
                    },
                })
            })
        })
    </script>
{% endblock %}
